@using Microsoft.AspNetCore.Http
@using Nop.Core
@model ProductModel
@inject IWebHelper webHelper
@inject IHttpContextAccessor httpContextAccessor

<div id="productsettings-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="productsettings-window-title">
    <div class="modal-dialog editor-settings-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="productsettings-window-title">
                    @T("Admin.Configuration.Settings.ProductEditor.ModalTitle")
                </h4>
            </div>
            <div class="modal-body">
                <form asp-controller="Product" asp-action="SaveProductEditorSettings" method="post">
                    <input type="hidden" name="returnurl" value="@webHelper.GetRawUrl(httpContextAccessor.HttpContext.Request)" />
                    <div class="row">
                        <div class="col-md-12">
                            @T("Admin.Configuration.Settings.ProductEditor.ModalDescription")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                @T("Admin.Configuration.Settings.ProductEditor.BlockTitle.CommonInfo")
                                            </div>
                                            <div class="col-md-2">
                                                <input type="checkbox" class="select-all-fields" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.Id" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.Id" />
                                                <span asp-validation-for="ProductEditorSettingsModel.Id"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.ProductType" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.ProductType" />
                                                <span asp-validation-for="ProductEditorSettingsModel.ProductType"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.ProductTemplate" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.ProductTemplate" />
                                                <span asp-validation-for="ProductEditorSettingsModel.ProductTemplate"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.VisibleIndividually" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.VisibleIndividually" />
                                                <span asp-validation-for="ProductEditorSettingsModel.VisibleIndividually"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.Published" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.Published" />
                                                <span asp-validation-for="ProductEditorSettingsModel.Published"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.ProductTags" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.ProductTags" />
                                                <span asp-validation-for="ProductEditorSettingsModel.ProductTags"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.ShowOnHomePage" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.ShowOnHomePage" />
                                                <span asp-validation-for="ProductEditorSettingsModel.ShowOnHomePage"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.DisplayOrder" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.DisplayOrder" />
                                                <span asp-validation-for="ProductEditorSettingsModel.DisplayOrder"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.AllowCustomerReviews" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.AllowCustomerReviews" />
                                                <span asp-validation-for="ProductEditorSettingsModel.AllowCustomerReviews"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.MarkAsNew" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.MarkAsNew" />
                                                <span asp-validation-for="ProductEditorSettingsModel.MarkAsNew"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10"> 
                                                <nop-label asp-for="ProductEditorSettingsModel.MarkAsNewStartDate" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.MarkAsNewStartDate" />
                                                <span asp-validation-for="ProductEditorSettingsModel.MarkAsNewStartDate"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.MarkAsNewEndDate" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.MarkAsNewEndDate" />
                                                <span asp-validation-for="ProductEditorSettingsModel.MarkAsNewEndDate"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.AdminComment" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.AdminComment" />
                                                <span asp-validation-for="ProductEditorSettingsModel.AdminComment"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.CreatedOn" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.CreatedOn" />
                                                <span asp-validation-for="ProductEditorSettingsModel.CreatedOn"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.UpdatedOn" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.UpdatedOn" />
                                                <span asp-validation-for="ProductEditorSettingsModel.UpdatedOn"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                @T("Admin.Configuration.Settings.ProductEditor.BlockTitle.Mappings")
                                            </div>
                                            <div class="col-md-2">
                                                <input type="checkbox" class="select-all-fields" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.Stores" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.Stores" />
                                                <span asp-validation-for="ProductEditorSettingsModel.Stores"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                @T("Admin.Configuration.Settings.ProductEditor.BlockTitle.Security")
                                            </div>
                                            <div class="col-md-2">
                                                <input type="checkbox" class="select-all-fields" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.ACL" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.ACL" />
                                                <span asp-validation-for="ProductEditorSettingsModel.ACL"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                @T("Admin.Configuration.Settings.ProductEditor.BlockTitle.LinkedProducts")
                                            </div>
                                            <div class="col-md-2">
                                                <input type="checkbox" class="select-all-fields" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.RelatedProducts" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.RelatedProducts" />
                                                <span asp-validation-for="ProductEditorSettingsModel.RelatedProducts"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                @T("Admin.Configuration.Settings.ProductEditor.BlockTitle.Tabs")
                                            </div>
                                            <div class="col-md-2">
                                                <input type="checkbox" class="select-all-fields" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.Seo" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.Seo" />
                                                <span asp-validation-for="ProductEditorSettingsModel.Seo"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <nop-label asp-for="ProductEditorSettingsModel.OneColumnProductPage" />
                                            </div>
                                            <div class="col-md-2">
                                                <nop-editor asp-for="ProductEditorSettingsModel.OneColumnProductPage" />
                                                <span asp-validation-for="ProductEditorSettingsModel.OneColumnProductPage"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center margin-t-5">
                            <button type="submit" name="save-product-editor-settings" class="btn btn-lg bg-light-blue">Save</button>
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('input[type=checkbox].select-all-fields').each(function (index, value) {
                            if ($('input[type=checkbox]:checked', $(this).closest('.panel')).length > 0) {
                                $(this).attr('checked', true);
                            }
                        });

                        $('input[type=checkbox].select-all-fields').on('click', function () {
                            $('input[type=checkbox]', $(this).closest('.panel')).attr('checked', $(this).is(':checked'));
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>